

**/node_modules
**/node_modules

**/.env

# Build Folders

**/build
**/dist


# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/

.DS_Store

coverage/

amplify/#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation


*.pem